@use '../../patterns/_colors.scss';
@use '../../patterns/_displays.scss';


.container {

    h1 {
        word-wrap: break-word;

        a {
            color: colors.$themeColor;
        }
    }
    
    .chapter-row {
        @include displays.flex(column, center, flex-start); 
        gap: 2em;

        .guideline {
            @include displays.flex();
            gap: 2em;

            .div-button {
                @include displays.flex();
                gap: 0.5em;

                height: 1.25em;

                padding: 1em 0.5em;
                
                font-size: 1em;

                color: colors.$themeColorSecondary;
                background-color: colors.$backgroundColor;
                border: 2px solid colors.$themeColorSecondary;
                border-radius: 0.25em;
                
                cursor: pointer;

                .icon {
                    @include displays.flex(column, center, center);
    
                    font-size: 1.5em;
    
                    color: colors.$themeColorSecondary;    
                }
                
                .icon-disabled {
                    color: lighten(colors.$backgroundColor, 10%);
                }
                
                div.while-loading {
                    background-color: transparent;
                    color:transparent;
                    border: none
                }
            }
            
            .button-disabled {
                color: lighten(colors.$backgroundColor, 10%);
                background-color: colors.$backgroundColor;
                border: 2px solid lighten(colors.$backgroundColor, 10%);
            }

            a.while-loading {
                background-color: transparent;
                color:transparent;
                border: none
            }

        }

        .pages-found {
            padding: 0;
    
            font-size: 1.5em;
            color: colors.$themeColor;
        }

        h3.while-loading, a.while-loading {
            background-color: transparent;
            color:transparent;
            border: none
        }

        .chapter-container {
            @include displays.flex(column, center, center);
            gap: 1em;

            .card-target {
                @include displays.flex(column);
            
                min-width: 30vw;
                width: auto;
                max-width: 90vw;
                
                min-height: 40vw;
                height: fit-content;

                border: 2px solid colors.$themeColorSecondary;  
                border-radius: 0.25em;

                box-shadow: 0 0.5em 0.5em 0 colors.$themeColorSecondary;
            
                overflow: hidden;
                
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .card-target-active {
                min-height: fit-content;
            }

        }
        // .webtoon {
        //     gap: 0;


        //     .card-result {
        //         border-bottom: none;
        //         border-bottom-left-radius: 0;
        //         border-bottom-right-radius: 0;
        //     }

        //     .card-result + .card-result {
        //         border-top: none;
        //         border-bottom: none;
        //         border-radius: 0;
        //     }
        // }
    }

    .icon-up {
        @include displays.flex(row, center, center);
        gap: 1em;
        
        cursor: pointer;
        
        &:before {
            content: '\e907';
            font-weight: 700;
        }
    }
}


@media screen and (max-width: 768px) {
    .container {
        
        h1 {
            max-width: 90%;
            word-wrap: break-word;
        }
        
        .chapter-row {
            
            .pages-found {
                padding: 0;
        
                font-size: 1em;
                color: colors.$themeColor;
            }
    
            .guideline {
    
                .div-button {
    
                    height: 1.25em;
    
                    .icon {
                        font-size: 1.25em;
                    }
                }
    
            }
    
            .chapter-container {
                @include displays.flex(column, center, center);
                gap: 1em;
    
                .card-target {
                    min-width: 97.5vw;
                    
                    min-height: 90vw;
    
                    border: 1px solid colors.$themeColorSecondary;
    
                    box-shadow: 0 0.25em 0.25em 0 colors.$themeColorSecondary;
                }
            }
        }
    }  
}