@use '../../patterns/_colors.scss';
@use '../../patterns/_displays.scss';

.container {

    h1 {
        padding: 1em 0;

        text-align: center;
        font-size: 2em;
        font-weight: bold;
        color: map-get(colors.$colorsTheme, 'themeColor');
    }

    .row {
        @include displays.flex();
        gap: 1em;
        flex-wrap: wrap;

        .card-result {
            position: relative;

            @include displays.flex();

            width: 13em;
            height: 20em;

            border: 2px solid darken(map-get(colors.$colorsTheme, 'themeColor'), 35%);  
            border-radius: 0.25em;

            box-shadow: 0 0 0 rgba(0, 0, 0, 0.75);

            overflow: hidden;

            transition: box-shadow 0.2s;

            .card-result-image {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                object-fit: cover;

                filter: opacity(0.5) blur(2px);

                z-index: 10;

                transition: filter 0.25s;
            }

            .card-result-info {
                position: relative;

                @include displays.flex(column, center, space-between);

                height: 100%;

                padding: 1em 0.5em;

                font-size: 0.9em;
                text-align: center;

                z-index: 11;

                .manga-source {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);

                    letter-spacing: 0.2em;
                    text-transform: uppercase;
                    color: darken(map-get(colors.$colorsTheme, 'themeColor'), 35%);
                    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.5);
                }
            }

            &:hover, &:focus {

                box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.1);

                .card-result-image {
                    filter: opacity(0.5) blur(0px);
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .container {
    
        h1 {
            padding: 1em 0;
        }
    
        .row {
            gap: 0.5em;
    
            .card-result {
                width: 10em;
                height: 16em;

                border: 1px solid darken(map-get(colors.$colorsTheme, 'themeColor'), 35%);
    
                .card-result-image {
                    filter: opacity(0.5) blur(1px);
                }

                .card-result-info {
                    padding: 0.5em 0.25em;
    
                    font-size: 0.75em;
                }

                &:hover, &:focus {

                    box-shadow: 0 0 0;
    
                    .card-result-image {
                        filter: opacity(0.5) blur(0px);
                    }
                }
            }
        }
    }
}