@use '../../patterns/_colors.scss';
@use '../../patterns/_displays.scss';

.container {

    h1 {
        padding: 1em 0;

        text-align: center;
        font-size: 2em;
        font-weight: bold;
        color: colors.$themeColor;
    }

    .row {
        @include displays.flex();
        gap: 1em;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 768px) {
    .container {
    
        h1 {
            padding: 1em 0;
        }
    
        .row {
            gap: 0.5em;
        }
    }
}