@use '../../patterns/_colors.scss';
@use '../../patterns/_displays.scss';

.container {

    height: 100%;

    h1 {
        max-width: 80%;
        
        margin: 0 auto;
        padding: 1em 0;

        text-align: center;
        font-size: 2em;
        font-weight: bold;
        color: var(--themeColor);
    }

    .row-v2 {
        @include displays.flex(column, flex-start, center);
        gap: 1em;

        width: 90%;

        margin: 0 auto;

        h2 {
    
            text-align: center;
            // font-size: 2em;
            font-weight: bold;
            color: var(--themeColor);
        }

        .result-content {
            @include displays.flex(row, center, flex-start);
            gap: 1em;

            width: 100%;
            max-width: 100%;

            margin-bottom: 2em;
            padding-bottom: 0.5em;

            overflow-x: auto;
        }
    }
}

@media screen and (max-width: 768px) {
    .container {
    
        h1 {
            padding: 1em 0;
            font-size: 1.75em;
        }
    
        .row {
            gap: 0.5em;
        }
    }
}