@use '../../patterns/_colors.scss';
@use '../../patterns/_displays.scss';

.container-login {

    h1 {
        padding: 1em 0;

        text-align: center;
        font-size: 2em;
        font-weight: bold;
        color: colors.$themeColor;
    }

    .row {
        @include displays.flex();
        gap: 1em;
        flex-wrap: wrap;

        .login-container {
            @include displays.flex();

            width: 25em;
            height: fit-content;

            padding: 2em;

            border: 2px solid colors.$themeColorSecondary;
            border-radius: 0.25em;

            form {
                @include displays.flex(column, center, space-between);
                gap: 2em;

                width: 100%;
                height: 100%;
                
                .upper-section, .lower-section {
                    @include displays.flex(column, center, center);
                    gap: 0.5em;
                    
                    width: 100%;
                    height: fit-content;
                }

                .upper-section {
                    margin-top: 1em;
                    gap: 2.5em;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .container-login {

        h1 {
            padding: 1em 0 0.5em;
        }

        .row {

            .login-container {
                width: 95vw;
                height: fit-content;

                // padding: 2em;

                // border: 2px solid colors.$themeColorSecondary;
                // border-radius: 0.25em;

                form {
                    @include displays.flex(column, center, space-between);

                    width: 100%;
                    height: 100%;
                    
                    .upper-section, .lower-section {
                        @include displays.flex(column, center, center);
                        gap: 0.5em;
                        
                        width: 100%;
                        height: fit-content;
                    }

                    .upper-section {
                        margin-top: 1em;
                        gap: 2em;
                    }

                    .form-check {
                        @include displays.flex(row, center, flex-end);
                        gap: 0.5em;

                        width: 100%;

                        label {
                            color: colors.$textColor;

                            input[type="checkbox"] {
                                position: relative;

                                &:before {
                                    content: "";
                                    display: block;
                                    width: 1em;
                                    height: 1em;

                                    border: 1px solid colors.$themeColorSecondary;
                                    border-radius: 0.25em;
                                    background-color: colors.$backgroundColor;
                                }

                                &:checked {
                                    &:after {
                                        content: "x";

                                        position: absolute;
                                        top: 50%;
                                        left: 50%;
                                        transform: translate(-50%, -50%);

                                        color: colors.$textColor;
                                    }
                                }
                            }
                        }
                    }

                    button {
                        width: 100%;

                        padding: 0.5em;

                        border: none;
                        border-radius: 0.25em;

                        background-color: colors.$themeColor;
                        color: colors.$textColor;
                    }

                    button#loginButton {
                        text-transform: uppercase;
                        // font-weight: bold;
                        letter-spacing: 0.2em;
                    }

                    button#registerButton {
                        width: 100%;

                        padding: 0.5em;

                        border: 1px solid colors.$themeColorSecondary;

                        background-color: colors.$backgroundColor;
                        color: colors.$textColor;
                    }
                }
            }
        }
    }
}