@use '../../patterns/_colors.scss';
@use '../../patterns/_displays.scss';


.container {

    .manga-row {
        @include displays.flex(column, center, flex-start); 

        .subcontainer {
            @include displays.flex(column, center, flex-start);
            gap: 2em;

            width: fit-content;

            .manga-container {
                position: relative; // this will allow the continue-reading button to be positioned correctly
                @include displays.flex(row, flex-start, center);
                gap: 5em;

                .card-result {
                    position: relative;

                    width: 18em;
                    height: 25em;

                    margin-bottom: 3em;

                    .card-result-image {
                        // width: 100%;
                        height: 100%;
                        
                        filter: opacity(1) blur(0px);

                        img {
                            // width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    .icon-bookmark {
                        position: absolute;
                        top: -2px;
                        right: 2.5%;
                        
                        display: none;

                        color: #ef6817;
                        font-size: 2em;

                        z-index: 900;
                    }
                }
                
                .container-info {
                    @include displays.flex(column, flex-start, center);
                    gap: 1em;
                    
                    color: var(--textColor);

                    .container-stats {
                        @include displays.flex(column, flex-start, flex-start);
                        gap: 1em;
    
                        .stats-classification {
                            @include displays.flex();
                            gap: .5em;

                            font-size: 1.5em;

                            .icon-star {
                                cursor: pointer;
                            }

                            .icon-star-selected {
                                &:before {
                                    font-weight: 700;
                                }
                            }

                            .icon-star-rated {
                                color: #ffb400;
                            }

                            small {
                                @include displays.flex();
                            }
                        }

                        .favorite-text {
                            @include displays.flex();

                            width: 100%;
                            height: 2em;

                            text-align: center;

                            cursor: pointer;

                            transition: color 0.25s, background-color 0.25s;

                            &:hover {
                                color: var(--backgroundColor);
                                background-color: var(--themeColorSecondary);
                            }
                        }
                    }

                    .continue-reading {
                        position: absolute;
                        top: 26em;
                        left: 0;

                        @include displays.flex(row, center, center);

                        width: 18em;
                        height: 3em;

                        cursor: pointer;
                    }

                    .info-panel {
                        width: 30em;
                    }

                    .description-panel {

                        #mangaDescription {
                            width: 30em;
                        }
                    }
                }
            }
            .chapter-container {
                width: 100%;
    
                border: 2px solid var(--themeColorSecondary);
                border-radius: 0.25em;

                h3 {
                    text-align: center;
                    color: var(--themeColor);
                    border-bottom: 2px solid var(--themeColorSecondary);
                }

                ul {
                    @include displays.flex(column, flex-start, flex-start);

                    height: fit-content;
                    max-height: 20em;

                    overflow-y: auto;

                    li {
                        @include displays.flex($justifyContent : space-between);
                        width: 100%;

                        padding: 0.25em 0.5em;

                        font-size: 0.8em;

                        color: var(--textColor);

                        div {
                            text-align: right;
                            width: 20%;
                        }
                    }

                    li.chapter-read {
                        color: gray;

                        a {
                            color: gray;
                        }
                    }

                    li + li {
                        border-top: 1px solid var(--themeColorSecondary);
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 768px) {
    .container {

        h1 {
            padding: 1em;
        }

        .manga-row {
            width: 100%;
    
            .subcontainer {
                @include displays.flex(column, center, center);
                gap: 2em;

                margin: 0 auto;
    
                width: 90vw;
    
                .manga-container {
                    @include displays.flex(column, center, flex-start);
                    gap: 1em;

                    .card-result {
                        width: 62vw;
                        height: 90vw;

                        .card-result-image {
                            width: 100%;
                            height: 100%;
    
                            img {
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
    
                    .container-info {

                        .container-stats {
                            margin: 0 auto;
                        }

                        .continue-reading {
                            top: 92.5vw;
                            left: 50%;
                            transform: translateX(-50%);
    
                            width: 62vw;
                            height: 2.5em;

                            font-size: 0.8em;
                        }
                        
                        .info-panel {
                            width: 100%;
                        }
    
                        .description-panel {
    
                            #mangaDescription {
                                width: 100%;
                            }
                        }
                    }

                }
                .chapter-container {

                    ul {

                        li {
                            
                            div {
                                text-align: right;
                                width: 40%;
                            }
                        }
                    }
                }
            }
        }
    }
}