@use '../../patterns/_colors.scss';
@use '../../patterns/_displays.scss';

header {
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;

    padding: 1em;

    background-color: var(--backgroundColor);
    border-bottom: 1px solid var(--themeColorSecondary);

    z-index: 980;

    nav {
        @include displays.flex(row, center, space-between);

        .logo {

            a {

                span{
                    font-weight: bold;
                    color: var(--themeColor);
                }
            }

            .icon-logo {
                @include displays.flex(row, center);
                gap: 0;

                &:before {
                    content: "\f1fa";
                    font-weight: 700;

                    margin-right: 0.25em;
                }
            }
        }

        .menu {
            @include displays.flex();
            gap: 0.5em;

            width: fit-content;

            .icon-menu-mobile {
                display: none;

                transition: transform 0.5s;

                &:before {
                    content: "\f0c9";
                    font-weight: 700;
                }
            }

            ul {
                position: relative;
                @include displays.flex(row, center, flex-end);
                gap: 1.5em;

                background-color: var(--backgroundColor);

                width: 100%;
                height: fit-content;

                padding-top: 0;
                padding-right: 1em;

                box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);

                li {
                    @include displays.flex(row, center, flex-start);
                    gap: 0.5em;
                    position: relative;

                    background-color: var(--backgroundColor);
                    color: var(--textColor);

                    cursor: pointer;

                    &:after {
                        content: " ";
                        position: absolute;
                        bottom: 0;
                        left: 50%;

                        width: 0;
                        height: 1px;

                        margin-left: 0;

                        background-color: var(--themeColor);

                        transition: left 0.25s, width 0.25s;
                    }

                    &:hover {
                        &:after {
                            left: 0;
                            width: 100%;
                        }
                    }
                }

                #headOptionProfile, #headOptionLatest, #headOptionFavorites, #headOptionHistory, #headToggleTheme {
                    max-width: 1.6em;
                    height: 1.6em;
                    
                    padding: 0.4em;

                    transition: max-width 1s;
                    
                    overflow: hidden;
                    
                    a {
                        width: 100%;

                            
                        overflow: hidden;
                    }
                    
                    &:hover {
                        max-width: 15em;
                    }
                }

                .seach-menu {

                    width: 1.65em;

                    transition: width 0.5s;

                    &:hover, &:focus, &:active {
                        width: 10em;
                    }

                    form {
                        position: relative;

                        input {
                            width: 100%;

                            padding: 0.25em;

                            font-size: 0.8em;
                            color: var(--themeColorSecondary);

                            background-color: var(--backgroundColor);

                            border: 1px solid var(--textColor);
                            border-radius: 0.25em;
                            outline: none;
                        }
                        
                        .icon-search {
                            position: absolute;
                            top: 50%;
                            right: 0.25em;
                            transform: translateY(-50%);
    
                            background-color: var(--backgroundColor);
                            padding: 0.25em;
                            border: none;

                            color: var(--textColor);
    
                            &:before {
                                position: relative;
                                content: "\f002";
                                font-weight: 700;
                            }
                        }
                    }

                    &:hover {
                        &:after {
                            left: 0;
                            width: 0;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    header {
        
        nav {
            
            .menu {
                
                .icon-menu-mobile {
                    position: relative;

                    display: flex;
                    z-index: 999;

                    color: var(--textColor);
                }

                ul {
                    position: absolute;
                    top: -1em;
                    right: -1em;

                    @include displays.flex(column, flex-start, flex-start);

                    width: 0;
                    height: 100vh;

                    padding-top: 5em;
                    padding-right: 0;
                    gap: 2em;

                    box-shadow: 0px -5px 30px rgba(0, 0, 0, 0.5);
                    transition: width 0.25s, padding-left 0.25s;

                    overflow: hidden;
                    z-index: 1000;

                    li {
                        margin-left: 10%;
                    }

                    #headOptionProfile, #headOptionLatest, #headOptionFavorites, #headOptionHistory, #headToggleTheme {
                        max-width: fit-content;
                        height: 1.6em;
                        
                        padding: 0;
    
                        transition: max-width 1s;
                        
                        overflow: hidden;
                        
                        a {
                            width: 100%;
    
                                
                            overflow: hidden;
                        }
                        
                        &:hover {
                            max-width: 15em;
                        }
                    }

                    .seach-menu {

                        width: 80%;
                        margin: 0 auto;

                        &:hover, &:focus, &:active {
                            width: 80%;
                        }

                        form {
    
                            input {
                                width: 100%;
    
                                padding: 0.25em;
    
                                font-size: 0.8em;
                                color: var(--themeColorSecondary);
    
                                border: 1px solid var(--textColor);
                                border-radius: 0.25em;
                                outline: none;
                            }
                            
                            .icon-search {
                                position: absolute;
                                top: 50%;
                                right: 0.5em;
                                transform: translateY(-50%);
        
                                background-color: var(--backgroundColor);
                                border: none;
        
                                &:before {
                                    position: relative;
                                    content: "\f002";
                                    font-weight: 700;
                                }
                            }
                        }
    
                        &:hover {
                            &:after {
                                left: 0;
                                width: 0;
                            }
                        }
                    }
                }

                &:hover {
                    ul {
                        // left: 0;
                        width: max(60%, 15em);
                    }
                }
            }
        }
    }
}