$theme : 'light';
$theme : 'dark';


$textColor : black;
$textColorSecondary : lighten(black, 20%);

$themeColor : #63CEFD;
$themeColorSecondary : darken(#63CEFD, 35%);

$backgroundColor : white;
$borderColor : #c2c2c2;

$colorsAnimation1 : #E4E4E4;
$colorsAnimation2 : #F2F2F2;


@if $theme == 'dark' {
    $textColor : #c2c2c2;
    $textColorSecondary : darken(#c2c2c2,50%);

    $themeColor : #337d9d;
    $themeColorSecondary : lighten(#337d9d, 10%);

    $backgroundColor : #161616;
    $borderColor : #2c2c2c;

    $colorsAnimation1 : #353535;
    $colorsAnimation2 : #4f4f4f;
}