:root {
    --textColor: black;
    --textColorSecondary: rgb(80, 80, 80);

    --themeColor : #63CEFD;
    --themeColorSecondary : #4fa3c7;

    --backgroundColor : white;
    --borderColor : #c2c2c2;

    --colorsAnimation1 : #E4E4E4;
    --colorsAnimation2 : #F2F2F2;
}

[data-theme="dark"] {
    --textColor : #c2c2c2;
    --textColorSecondary : #646464;
    
    --themeColor : #337d9d;
    --themeColorSecondary : #409ac1;
    
    --backgroundColor : #161616;
    --borderColor : #2c2c2c;
    
    --colorsAnimation1 : #353535;
    --colorsAnimation2 : #4f4f4f;
}