@mixin flex ($direction : row, $alignItems : center, $justifyContent : center) {
  display: flex;
  flex-direction: $direction;
  align-items: $alignItems;
  justify-content: $justifyContent;
}

@mixin grid ($direction : row, $alignItems : center, $justifyContent : center) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: minmax(200px, auto);
  grid-auto-flow: $direction;
  align-items: $alignItems;
  justify-content: $justifyContent;
}