{% extends 'template.html' %}

{% block title %}
Chapter Viewer
{% endblock %}

{% block content %}
<div class="container">
    <h1>
        <a class="while-loading" id="mangaPage" href="#">Manga Page</a><br>
        <small><span id="mangaTitle" class="while-loading">Lorem, ipsum dolor.</span></small>
    </h1>
    <div class="chapter-row">
        <h3 class="pages-found while-loading">Pages: <span class="number-pages">00</span></h3>
        <div class="chapter-container">
            <div id="chapterTarget" class="card-target while-loading">
                <div class="card-result-image">
                    <img id="mangaImage" class="while-loading" src="#" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}