{% extends 'template.html' %}

{% block title %}
Manga Viewer
{% endblock %}

{% block content %}
<div class="container">
    <section id="top" style="display:none;"></section>
    <h1><span id="mangaTitle" class="while-loading">Lorem, ipsum dolor.</span></h1>
    <div class="chapter-row">
        <h3 class="pages-found while-loading">Pages: <span class="number-pages">00</span></h3>
        <div class="guideline while-loading">
            <a class="div-button button-previous while-loading">
                <div class="icon icon-previous while-loading" href=""></div>
                <p>Previous Ch.</p>
            </a>
            <a class="div-button button-next while-loading">
                <p>Next Ch.</p>
                <div class="icon icon-next while-loading" href=""></div>
            </a>
        </div>
        <div class="chapter-container">
            <div id="chapterTarget" class="card-target while-loading">
                <div class="card-result-image">
                    <img id="mangaImage" class="while-loading" src="#" alt="">
                </div>
            </div>
        </div>
        <div class="guideline while-loading">
            <a class="div-button button-previous while-loading">
                <div class="icon icon-previous while-loading" href=""></div>
                <p>Previous Ch.</p>
            </a>
            <a class="div-button button-next while-loading">
                <p>Next Ch.</p>
                <div class="icon icon-next while-loading" href=""></div>
            </a>
        </div>
    </div>
</div>
{% endblock %}