{% extends 'template.html' %}

{% block theme %}{{ theme }}{% endblock %}

{% block title %}
Favorites
{% endblock %}

{% block content %}
<div class="container">
    <h1>Favorites</h1>
    <div class="row-v2 row-fav">
        <div class="filter-container">
            <div class="filter-content">
                <p>Filter by:</p>
                <select class="secondary-button" name="filter" id="filterSelect">
                    <option value="manga_title">Name</option>
                    <option value="favorites_created_at">Added</option>
                    <!-- <option value="manga_title">Updated</option> -->
                    <option value="manga_source">Source</option>
                </select>
            </div>
        </div>
        <div class="result-content" id="containerTarget">
            <div class="card-result">
                <div class="card-result-image">
                    <img id="cardImage" src="#" alt="">
                </div>
                <div class="card-result-info">
                    <a id="cardLink" href="#">
                        <h3 class="card-result-title" id="cardTitle"></h3>
                    </a>
                    <p>
                        <span class="card-result-chapter" id="cardChapter"></span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}