{% extends 'template.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}
<div class="container">
    <h1>Newly Updates</h1>
    <div class="row">
        {% for manga in mangas %}
        <div class="card-result">
            <div class="card-result-image">
                <img src="{{mangas[manga]['image']}}" alt="">
            </div>
            <div class="card-result-info">
                <h2>
                    <a href="{{mangas[manga]['link']}}">
                        <span>
                            {% if manga|length > 40 %}
                                {{manga[:40]}}...
                            {% else %}
                                {{manga}}
                            {% endif %}
                        </span>
                    </a>
                </h2>
                <p class="manga-source">
                    <strong>{{mangas[manga]['source']}}</strong>
                </p>
                <p>
                    {{mangas[manga]['chapter']}}<br>{{mangas[manga]['updated']}}.
                </p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}