{% extends 'template.html' %}

{% block title %}
Search - All
{% endblock %}

{% block content %}
<div class="container">
    <h1>Searching - <span id="searchNameTarget">{{output['target']}}</span></h1>
    <div class="row search">
        {% for source in output['source'] %}
        <div id="{{source}}" class="source-container">
            <div class="source-header">
                <h2>{{source}}</h2>
            </div>
            <div class="source-content">
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

    
{% block script %}
<script src="{{url_for('static', filename='js/search.js')}}"></script>
{% endblock %}