<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MangaGrid - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <script src="https://kit.fontawesome.com/854b74e973.js" crossorigin="anonymous"></script>
    {% block head %}{% endblock %}
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <a class="icon icon-logo" href="{{url_for('render.index')}}">
                    Manga<span>Grid</span>
                </a>
            </div>

            <div class="menu">
                <div class="icon icon-menu-mobile" id="menuMobile"></div>
                <ul id="menuOptions">
                    <li class="seach-menu"><form action="GET">
                        <input id="searchInput" type="text" name="search" placeholder="Search">
                        <button id="searchButton" class="icon icon-search" type="submit"></button>
                    </form></li>
                    <li id="headOptionLatest">
                        <div class="icon icon-latest"></div>
                        <a href="{{url_for('render.index')}}">Updates</a>
                    </li>
                    <li id="headOptionProfile">
                        <div class="icon icon-profile"></div>
                        <a href="{{url_for('render.profile')}}" id="profileName">Login</a>
                    </li>
                    <li id="headOptionFavorites">
                        <div class="icon icon-bookmark"></div>
                        <a href="{{url_for('render.favorite')}}">Favorites</a>
                    </li>
                    <li id="headOptionHistory">
                        <div class="icon icon-history"></div>
                        <a href="{{url_for('render.history')}}">History</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <section>
        {% block content %}
        {% endblock %}
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <p id="footOptionPrivacy">Privacy Policy</p>
            </div>
            <div class="row">
                <p id="footOptionTerms">User Terms</p>
            </div>
            <div class="row">
                <p id="footOptionAbout">&copy; 2022 MangaGrid</p>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="{{url_for('static', filename='js/index.js')}}"></script>
    {% block script %}
    {% endblock %}
</body>
</html>