@use '../colors';
@use '../displays';

@keyframes pulsingColor {
    0%, 30% {
        background-color: var(--colorsAnimation1);
        color: var(--colorsAnimation1);
        border-color: var(--colorsAnimation1);
    }
    50% {
        background-color: var(--colorsAnimation2);
        color: var(--colorsAnimation2);
        border-color: var(--colorsAnimation2);
    }
    70%, 100% {
        background-color: var(--colorsAnimation1);
        color: var(--colorsAnimation1);
        border-color: var(--colorsAnimation1);
    }
}

.while-loading, .while-loading * {
    background-color: var(--colorsAnimation1);
    border: none;
    color: transparent;

    animation: pulsingColor 2s infinite;
}

img.while-loading {
    display: none;
}

@keyframes rotating {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.loader {
    @include displays.flex(row, center, center);

    width: 100%;

    overflow: hidden;

    .loading-animation {
        height: 2em;
        width: 2em;

        border: 5px solid var(--themeColor);
        border-bottom: 5px solid transparent;
        border-radius: 50%;

        animation: rotating 1s infinite;
    }
}