@use '../colors';

@keyframes pulsingColor {
    0%, 30% {
        background-color: colors.$colorsAnimation1;
    }
    50% {
        background-color: colors.$colorsAnimation2;
    }
    70%, 100% {
        background-color: colors.$colorsAnimation1;
    }
}

.while-loading, .while-loading * {
    background-color: colors.$colorsAnimation1;
    border: none;
    color: transparent;

    animation: pulsingColor 2s infinite;
}

img.while-loading {
    display: none;
}

@keyframes rotating {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}