@use '../displays';
@use '../colors';

// button constructor
.primary-button, .secondary-button {
    width: 100%;

    padding: 0.5em;

    border: none;
    border-radius: 0.25em;

    background-color: colors.$themeColor;
    color: colors.$textColor;
}

.primary-button {
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.secondary-button {
    width: 100%;

    padding: 0.5em;

    border: 1px solid colors.$themeColorSecondary;

    background-color: colors.$backgroundColor;
    color: colors.$textColor;
}