@use '../_colors.scss';
@use '../_displays.scss';

.card-result {
    position: relative;

    @include displays.flex();

    min-width: 13em;
    width: 13em;
    height: 20em;

    border: 2px solid colors.$themeColorSecondary;  
    border-radius: 0.25em;

    box-shadow: 0 0 0 rgba(0, 0, 0, 0.75);

    overflow: hidden;

    transition: box-shadow 0.2s;

    .card-result-image {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: 100%;
        height: 100%;

        filter: opacity(0.5) blur(2px);

        z-index: 10;

        transition: filter 0.25s;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .card-result-info {
        position: relative;

        @include displays.flex(column, center, space-between);

        height: 100%;

        padding: 1em 0.5em;

        color: colors.$textColor;
        font-size: 0.9em;
        text-align: center;

        z-index: 11;

        h3, .card-result-chapter {
            color: colors.$textColor;
            font-size: 1.5em;

            -webkit-text-stroke: 1px transparent;

            transition: -webkit-text-stroke 0.5s, font-size 0.5s;

            &:hover {
                font-size: 1.6em;
                -webkit-text-stroke: 1px colors.$textColorSecondary;
            }
        }

        .card-result-chapter {
            font-size: 1em;
            &:hover {
                font-size: 1.05em;
                -webkit-text-stroke: 1px transparent;
            }
        }

        .manga-source {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            color: colors.$themeColorSecondary;
            letter-spacing: 0.2em;
            text-transform: uppercase;
            -webkit-text-stroke: 1px rgba(0, 0, 0, 0.5);
        }
    }

    &:hover, &:focus {

        box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.1);

        .card-result-image {
            filter: opacity(0.5) blur(0px);
        }
    }
}

@media screen and (max-width: 768px) {
    .card-result {
        min-width: 10em;
        width: 10em;
        height: 16em;

        border: 1px solid colors.$themeColorSecondary;

        .card-result-image {
            filter: opacity(0.5) blur(1px);
        }

        .card-result-info {
            padding: 0.5em 0.25em;

            font-size: 0.75em;
        }

        &:hover, &:focus {

            box-shadow: 0 0 0;

            .card-result-image {
                filter: opacity(0.5) blur(0px);
            }
        }
    }
}