@use '../colors';
@use '../displays';

.navbar-mobile {
    position: fixed;
    display: flex;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, 0);
    
    width: auto;
    height: fit-content;

    z-index: 1000;

    .menu-navbar {
        position: relative;

        max-width: 19em;
        height: fit-content;

        background-color: var(--backgroundColor);

        border: 2px solid var(--themeColorSecondary);
        border-radius: 0.5em;

        overflow: hidden;

        transition: max-width 0.5s;

        .menu-itself {
            @include displays.flex();
            gap: 1em;

            padding: 0.5em;

            transition: gap 0.5s;

            .menu-item, .menu-item-adj {
                position: relative;

                @include displays.flex();

                width: 1em;
                height: 1em;

                font-size: 1em;
                padding: 1em;

                color: var(--textColor);

                overflow: hidden;

                transition: width 0.5s, padding 0.5s, opacity 0.5s;

                &:before {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);

                    cursor: pointer;

                    z-index: 1003;
                    transition: 0.5s top ease-in-out;
                }
            }
        }

        .menu-options {
            @include displays.flex(column, flex-start, flex-start);

            max-height: 0;

            padding: 0 0.5em;

            border-top: 1px solid var(--themeColorSecondary);

            color: var(--textColor);

            overflow: hidden;
            transition: max-height 0.5s, padding 0.5s;
            
            li {
                justify-content: flex-start;

                width: 100%;

                transition: padding-top 0.5s;

                button, select {
                    padding: 0.25em;
                }                 
            }
        }

        .menu-options.enabled {
            max-height: 6em;
            padding: 0.5em;
        }
    }

    .menu-navbar.disabled {
        max-width: 3.5em;
    }
}

@media screen and (max-width: 768px) {
 
    .navbar-mobile {
        bottom: 2.5%;

        .menu-navbar {
            border: 1px solid var(--themeColorSecondary);
        }
    }
}