@use '../patterns/colors';

@import 'pattern/header';
@import 'pattern/footer';

section {
    width: 100%;
    max-height: fit-content;

    padding: 3.5em 0 4em;

    background-color: colors.$backgroundColor;

    border-radius: 0.25em;

    @import 'section/index';
    @import 'section/search';
    @import 'section/manga_viewer';
    @import 'section/chapter_viewer';
    @import 'section/login';
    @import 'section/profile';
    @import 'section/favorite';
    @import 'section/error';
}