@import 'pattern/header';
@import 'pattern/footer';
@import 'pattern/modals';

section {
    width: 100%;
    margin: 3em auto;

    padding-bottom: 5em;

    background-color: white;

    border-radius: 0.25em;

    @import 'section/index';
}